

.categories_slider{
    display: grid;
    grid-template-columns: 280px auto;
    gap: 1rem;
    align-items: flex-start;
}


@media screen and (max-width: 1300px) {
    .home_section{
        display: grid;
        justify-content: center;
    }
    .home_section_content{
        width: 950px;
    }
}

@media screen and (max-width: 992px) {
    .categories_slider{
        grid-template-columns: 1fr;
    }
    .home_section_content{
        width: 700px;
    }
}
@media screen and (max-width: 768px) {
    .home_section_content{
        width: 500px;
    }
}
@media screen and (max-width: 576px) {
    .home_section_content{
        width: 100%;
    }
    .home_section{
        margin: 0 2%;
        display: block;
    }
}