.global_list_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    padding: 20px 10px;
    border: 1px solid #eee;
    margin: 14px 0;
}
.single_global_list{
    display: flex;
    align-items: center;
}
.single_global_list_icon{
    font-size: 30px;
    color: #a6cc41;
}
.single_global_list h2{
    font-size: 16px;
    font-weight: 600;
}
.single_global_list p{
    font-size: 14px;
}