.percent_off_section{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}
.percent_off_section a img{
    transition: 0.5s;
}
.percent_off_section a img:hover{
    transform: scale(1.1);
}


@media screen and (max-width: 1300px) {
    .percent_off_section{
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media screen and (max-width: 992px) {
    .percent_off_section{
        grid-template-columns: 1fr 1fr 1fr 1fr;
    }
}

@media screen and (max-width: 576px) {
    .percent_off_section{
      grid-template-columns: 1fr 1fr;
    }
}