.mobile_menu_var_section_close,
.mobile_menu_var_section_open {
  display: none;
}
.mmv_border_bottom {
  border-bottom: 1px solid #eee;
  padding: 12px 0;
  font-size: 13px;
  font-weight: 400;
}
.mobile_submenu_var {
  padding-left: 15px;
}

@media screen and (max-width: 992px) {
  .mobile_menu_var_section_close {
    display: block;
    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 20px;
    left: -100%;
    transition: 0.3s;
  }
  .mobile_menu_var_section_open {
    display: block;
    background-color: #fff;
    position: fixed;
    height: 100%;
    width: 300px;
    z-index: 99;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
    padding: 20px;
    left: 0%;
    transition: 0.3s;
  }
}
