.navigation_bar {
  @apply grid grid-flow-col justify-between items-center;
  font-weight: 500;
  padding: 10px 0;
}
.navigation_bar ul li a {
  padding: 18px;
  font-size: 15px;
  margin: 0 5px;
}
.categories_icon {
  width: 30px;
  cursor: pointer;
}
.nav_sub_menu {
  position: absolute;
  background-color: #fff;
  padding: 10px 0;
  margin-top: 16px;
  transform: rotateX(90deg);
  transition: 0.3s;
  box-shadow: rgba(0, 0, 0, 0.08) 0px 4px 12px;
  transform-origin: top;
  z-index: 10;
}
.nav_sub_menu li {
  padding: 10px 0;
  font-size: 15px;
  margin: 0 5px;
}

.nav_sub_menu_container:hover .nav_sub_menu {
  transform: rotateX(0deg);
}

/* navbar_top */
.nav_top_container {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 20px 25px -5px,
    rgba(0, 0, 0, 0.04) 0px 10px 10px -5px;
}
.navbar_top {
  @apply grid grid-flow-col justify-between items-center;
  padding: 10px 0;
}
.navbar_logo img {
  width: 80px;
}
.navbar_top_right {
  color: #666;
}
.navbar_search {
  border: 1px solid #6662;
  align-items: center;
  padding: 3px 10px;
  border-radius: 5px;
}

.navbar_search input {
  width: 500px;
  outline: none;
  padding: 5px 0;
  color: #666;
  font-size: 14px;
}
.nav_search_btn {
  color: #333;
  cursor: pointer;
  width: 25px;
}
.nav_login_register a {
  font-size: 14px;
}
.nav_login_register a:hover {
  color: var(--theme);
}
.navbar_top_right svg {
  cursor: pointer;
}
.phone_nav_search_btn {
  display: none;
}

@media screen and (max-width: 1300px) {
  .navbar_top {
    width: 950px;
  }
  .navigation_bar {
    width: 950px;
  }
  .navigation_bar ul li a {
    padding: 10px;
  }
}

@media screen and (max-width: 992px) {
  .navigation_bar {
    display: none;
  }
  .sign_reg {
    display: none !important;
  }
  .navbar_search input {
    width: 300px;
  }
  .navbar_top {
    width: 700px;
  }
}

@media screen and (max-width: 768px) {
  .navbar_top {
    max-width: 500px;
  }
  .navbar_search {
    display: none !important;
  }
  .phone_nav_search_btn {
    display: block;
  }
  .navbar_logo {
    width: 60px;
  }
}
@media screen and (max-width: 576px) {
  .nav_top_container {
    padding: 0 2%;
  }
  .navbar_top {
    max-width: 100%;
  }
}
