.section_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    padding: 15px;
    border-bottom: 1px solid #eee;
    color: #333;
}
.section_title h2{
    font-size: 25px;
}
.section_title_a{
 font-weight: 500;
 transition: 0.2s;
}
.section_title_a:hover{
 text-decoration: underline;
 color: #a6cc41;
}