.section_title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 25px auto;
    padding: 15px 0;
    border-bottom: 1px solid #eee;
    color: #333;
}
.section_title h2{
    font-size: 25px;
}
.section_title a{
 font-weight: 500;
 transition: 0.2s;
}
.section_title > div:hover{
 text-decoration: underline;
 color: var(--theme);
}



@media screen and (max-width: 992px) {
}