.single_flash_sale {
  display: grid;
  grid-template-columns: 2fr 3fr;
  align-items: center;
  gap: 2rem;
  color: #555;
  margin-bottom: 40px;
}
.single_flash_sale {
  border: 1px solid #eee;
  padding: 2rem;
}
.flash_product_name {
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
  display: -webkit-box;
  line-height: 1.3em;
}
.flash_product_content {
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
}
.flash_icon {
  width: 25px;
  cursor: pointer;
}
.flash_review {
  color: #ffd055;
}
.flash_add_cart{
    display: none;
}

@media screen and (max-width: 992px) {
  .single_flash_sale {
    grid-template-columns: 1fr;
  }
  .single_flash_sale img {
    max-width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 768px) {
  .single_flash_sale {
    padding: 1rem;
  }
}

@media screen and (max-width: 576px) {
    .btn_2{
        display: none;
    }
    .flash_add_cart{
        display: block;
    }
    .flash_price{
        gap: 0.2rem !important;
        font-size: 14px;
    }
    .flash_price del{
        font-size: 13px;
    }
    .single_flash_sale img{
        width: 100%;
    }
    .flash_product_content{
        gap: 0.4rem !important;
    }
    .single_flash_sale{
        padding: 0.3rem;
    }
    .flash_product_name{
        font-size: 14px;
    }
}
