@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Euphoria+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Noto+Sans+Bengali&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@700&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;500;600;700&family=Euphoria+Script&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Noto+Sans+Bengali&family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Rowdies:wght@700&display=swap");

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --theme: #94cc2c;
}
:root {
  --theme_opacity: #94cc2c11;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
}
body {
  margin: 0;
  /* font-family: "Poppins", sans-serif; */
}
::-webkit-scrollbar-track {
  background-color: #deeaee;
}

::-webkit-scrollbar {
  width: 10px;
  height: 5px;
  background-color: #a8a8a8;
}

::-webkit-scrollbar-thumb {
  background: var(--theme);
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #bac2c9;
}
::-webkit-scrollbar-thumb:active {
  background: #a1b2c3;
}
.DropDownSlide {
  animation-name: DropDownSlide;
  animation-duration: 0.3s;
  animation-fill-mode: both;
}
:root {
  --swiper-navigation-size: 20px !important;
}
button {
  background: transparent;
  outline: none;
  border: none;
}

main {
  display: block;
}

img {
  display: block;
  width: 100%;
  object-fit: contain;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}
h1 {
  font-size: 2em;
}
hr {
  box-sizing: content-box;
  height: 0;
  overflow: visible;
}
a {
  background-color: transparent;
  text-decoration: none;
}
abbr[title] {
  border-bottom: none;
  text-decoration: underline;
  text-decoration: underline dotted;
}
b,
strong {
  font-weight: bolder;
}
code,
kbd,
samp {
  font-family: monospace, monospace;
  font-size: 1em;
}
small {
  font-size: 80%;
}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}
sub {
  bottom: -0.25em;
}
sup {
  top: -0.5em;
}
img {
  border-style: none;
}
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  font-size: 100%;
  line-height: 1.15;
  margin: 0 !important;
}
button,
input {
  overflow: visible;
}
button,
select {
  text-transform: none;
}
[type="button"],
[type="reset"],
[type="submit"],
button {
  -webkit-appearance: button;
}
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner,
button::-moz-focus-inner {
  border-style: none;
  padding: 0;
}
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring,
button:-moz-focusring {
  outline: 1px dotted ButtonText;
}
fieldset {
  padding: 0.35em 0.75em 0.625em;
}
textarea {
  overflow: auto;
}
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  padding: 0;
}
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}
[type="search"] {
  -webkit-appearance: textfield;
  outline-offset: -2px;
}
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}
::-webkit-file-upload-button {
  -webkit-appearance: button;
  font: inherit;
}

label {
  user-select: none;
  cursor: pointer;
}
#checkbox {
  cursor: pointer;
}


.text_color {
  color: #000;
}

.content_container{
  max-width: 1200px;
  margin: 0 auto;
}


.btn_1{
  width: 150px;
  color: #fff;
  padding: 8px;
  background-color: #333 !important;
  border-radius: 5px;
  border: 1px solid #333;
  transition: 0.2s;
}
.btn_1:hover{
background-color: #fff !important;
color: #000;
}

.btn_2{
  width: 120px;
  color: #333;
  padding: 5px;
  background-color: #fff;
  border-radius: 5px;
  border: 1px solid #333;
  transition: 0.2s;
  font-size: 14px;
}
.btn_2:hover{
background-color: #333;
color: #fff;
}





@media screen and (max-width: 992px) {
  .btn_1{
    width: 135px;
    padding: 5px;
  }
}